{
  "extends": "eslint:recommended",
  "plugins": [
    "flowtype"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true,
    "node": true
  },
  "globals": {
    "d3": true,
    "module": true,
    "inject": true,
    "require": true
  },
  "ecmaFeatures": {
    "modules": true
  }
}
