.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 0.75em;
}

rect.histogram-bar {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  font-size: 0.4em;
}

#nameTooltip {
  font-size: 1.3em;
}

#nameTooltip rect {
  fill: white;
}

#nameTooltip text {
  fill: #000;
  stroke: #000;
  color: #000;
}

path.highlighted {
  fill-opacity: 0.5;
  stroke: red;
  stroke-width: 1.5;
}

.chord path {
      stroke: black;
      stroke-width: 0.2;
      opacity: 0.6;
}

.link {
  stroke: lightgrey;
  stroke-width: 0.3;
}

path.link {
  fill: none;
  stroke: lightgrey;
}


path.partition {
  stroke: white;
  stroke-width: 1;
}


.name text {
  font-size: 1.5em;
}

.name rect {
  fill: white;
}
